<div class="content" [ngClass]="{'card-edit-mode': editMode}">
    <div class="header">
        <h1>ID <fa-icon [icon]="icons.faUser"/></h1>
        <button *ngIf="!editMode" (click)="editMode = true"><fa-icon [icon]="icons.faPen" class="fa-xl"/></button>
        <button *ngIf="editMode" (click)="editMode = false"><fa-icon [icon]="icons.faCheck" class="fa-xl"/></button>
    </div>
    <div class="body">
        <div class="body-section">
            <h2 class="section-header">Account Information</h2>
            <div class="body-section-information account-info">
                <div>
                    <div class="field-flex">
                        <h2>First Name</h2> <span class="regular">Ebony</span>
                    </div>
                    <div class="field-flex">
                        <h2>Last Name</h2> <span class="regular">Moore</span>
                    </div>
                    
                </div>
                <div>
                    <div class="field-flex">
                        <h2>Registered Email</h2> <span class="regular">{{'EbonyMoore456@gmail.com'}}</span>
                    </div>
                    <div class="field-flex">
                        <h2>Cell Phone Number</h2> <span class="regular">(216)835-9545</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-section">
            <h2 class="section-header">Address</h2>
            <div class="body-section-information">
                <div class="field-flex">
                    <h2>Home Address</h2> <span class="regular">123 Maple Street, Cleveland, OH 44119</span>
                </div>
                <div class="field-flex">
                    <h2>Mailing Address</h2> <span class="regular">123 Maple Street, Cleveland, OH 44119</span>
                </div>
            </div>
        </div>
        <div class="body-section">
            <h2 class="section-header">Personally Identifiable Information</h2>
            <div class="body-section-information personal-info">
                 <div class="field-flex">
                    <h2>Social Security Numbers (SSNs)</h2>
                    <h2>Date of Birth</h2>
                    <h2>Medicare Beneficiary Identifiers (MBIs)</h2>
                </div>
                <div class="field-flex">
                     <span class="regular">05/09/1998</span>
                     <span class="regular">234-71-1083</span>
                     <span class="regular">1EG4-TE5-MK73</span>
                </div>
            </div>
        </div>
        <div class="body-section">
            <h2 class="section-header">Documents</h2>
            <div class="body-section-information">
                <div class="field-flex">
                    <div class="picture-field">
                        <img src="../../assets/icondoc.JPG" alt="">
                        <span class="medium">ID Card.png</span>
                    </div>
                    <div class="picture-field">
                        <img src="../../assets/iconpng.JPG" alt="">
                        <span class="medium">ID Card.png</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
