.content {
    width: 50%;
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    margin: auto;
    padding: 1rem 4rem;
}

.left-spacing {
    margin-left: 1rem;
}

.card-edit-mode {
    background-color: transparent;
    border: 4px dashed var(--primary-color);

    input {
        background-color: #ffff;
        pointer-events: auto;
        user-select: text;
    }
}

.header {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;

    div {
        align-self: center;
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--primary-color);
        cursor: pointer;
    }
}

.section-header {
   color: var(--primary-color) 
}

.body-section-information {

    .regular {
        margin-left: 30px;
    }
}

.account-info {

    .regular {
        margin-left: 0;
    }

}

.address-info {

    .regular {
        margin-left: 0;
    }

}

.personal-info {

    .regular {
        margin-left: 0;
    }

}

input {
    border: none;
    background-color: transparent;
    pointer-events: none;
    user-select: text;
}

.date-picker {
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

.documents {
    .field-flex {
        display: flex;
    }

    .picture-field {
        margin-right: 1rem;
        display: grid;
        padding: 1rem;
        background-color: var(--tertiary-bg);
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
    
        img {
            margin: auto;
            width: 51px;
            height: 56px;
        }
    }
}



@media only screen and (min-width: 1530px) {

    

    input {
        height: 25px;
        align-self: center;
    }

    .body-section-information {
        h2 {
            margin: 6px 0;
        }
    }

    .field-flex {
        display: flex;
    
        span {
            align-content: center;
        }
    }

    .account-info {
        display: flex;

        .sub-section-1 {
            width: 45%;
        }

        .sub-section-2 {
            width: 70%;
        }

        .field-label {
            width: 38%;
        }

        .field-value {
            width: 58%;
            align-content: center;
        }
    }

    .address-info {
        .field-label {
            width: 19%;
        }
    
        .field-value {
            width: 79%;
            align-content: center;
        }
    }

    .personal-info {
        .field-label {
            width: 45%;
        }
    
        .field-value {
            width: 40%;
            align-content: center;
        }
    }

    .picture-field {
        
        border-radius: 5px;
    
        img {
            margin: auto;
            width: 51px;
            height: 56px;
        }
    }

}
