<div class="content" [ngClass]="{'card-edit-mode': editMode}">
    <div class="header">
        
        <h1>ID <fa-icon [icon]="icons.faUser"/></h1>
        
        <div *ngIf="!editMode">
            <button (click)="editMode = true"><fa-icon [icon]="icons.faPen" class="fa-2xl"/></button>
        </div>

        <div *ngIf="editMode">
            <button *ngIf="editMode && user && user._id" (click)="deleteUser()"><fa-icon [icon]="icons.faTrash" class="fa-2xl"/></button>  
            <button (click)="save()" class="left-spacing"><fa-icon [icon]="icons.faCheck" class="fa-2xl"/></button>
            <button *ngIf="editMode && user && user._id" (click)="editMode = false" class="left-spacing"><fa-icon [icon]="icons.faX" class="fa-2xl"/></button>
        </div>
    </div>
    <div class="body">
        <form *ngIf="userForm" [formGroup]="userForm">
            <div class="body-section">
                <app-account-information [userForm]="userForm" [formSubmitted]="formSubmitted"/>
            </div>
            <div class="body-section">
                <app-address [userForm]="userForm" [formSubmitted]="formSubmitted"/>
            </div>
            <div class="body-section">
                <app-personal-information [userForm]="userForm" [formSubmitted]="formSubmitted" />
            </div>
            <div class="body-section">
                <app-documents />
            </div>
        </form>
    </div>
</div>
