.content {
    width: 50%;
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    margin: auto;
    padding: 1rem 4rem;
}

.left-spacing {
    margin-left: 1rem;
}

.card-edit-mode {
    background-color: transparent;
    border: 4px dashed var(--primary-color);
}

.header {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;

    div {
        align-self: center;
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--primary-color);
        cursor: pointer;
    }
}
