@use 'variables' as *;

:root {
    @each $key, $value in $colors {
        --#{$key}: #{$value};
    }
    --font-family: "Jost", sans-serif;
}

html {
    background: var(--primary-bg) !important;
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
    font-family: var(--font-family);
    min-height: 95%;
}

h1, .semibold {
    font-size: 28px;
    line-height: 34px;
    letter-spacing:  0px;
}

h2, .bold {
    font-size: 18px;
    line-height: 26px;
    letter-spacing:  0px;
    text-wrap: nowrap;
}

.regular {
    font-size: 18px;
    line-height: 26px;
    letter-spacing:  0.5px;
}

.medium {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

input {
    width: 100%;
    font-family: var(--font-family);
}
