$chat-bg: linear-gradient(#F8F8F8,#CBD7D0);
$id-card-bg: #fff3ecbf;
$file-bg: #FDFDFB;

$rust: #B95319;
$green: #96AD90;
$black: #232C27;
$charcoal-blue: #2F4858;
$error-red: #d00a0a;

$colors: (
    primary-bg: $chat-bg,
    secondary-bg: $id-card-bg,
    tertiary-bg: $file-bg,

    primary-color: $rust,
    secondary-color: $green,
    tertiary-color: $black,
    quaternary-color: $charcoal-blue,

    failure-color: $error-red
)
